.about-container {
  padding: 30px;
  text-align: center;
  overflow: hidden;
  
}
.about-heading {
  color: #a7b2cf;
  counter-increment: count;
  margin-bottom: 50px;
  font-size: 30px;
}
.about-container .about-p{
  line-height: 1.4;
  text-align: center;
}
@media(max-width:767px){
  .about-container .about-p{
    text-align: left;
  }

}
.about-container h3{
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  
}
.about-heading::before {
  content: "0" counter(count) ".";
  color: #5ef0cf;
  margin-right: 8px;
}
.about-container div {
  color: #a7b2cf;
}
.about-container ul {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(300px, 1fr));
  margin: 40px;
}
.about-container ul li {
  position: relative;
  margin-top: 10px;
  list-style: none;
  padding: 12px;

}
@media only screen and (max-width: 600px){

}
.about-container ul li::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin-top: -2.5px;
  background-color: #5ef0cf;
}
@media only screen and (min-width: 738px) {
  .about-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 150px;
    margin: 20px;
  }
  .about-container {
    padding: 40px 80px;
  }
  .about-container ul li {
    color: #a7b2cf;
  }
  .about-container ul {
    color: #a7b2cf;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
  .about-container div {
  
    line-height: 1.8;
    margin-bottom: 20px;
  }
}
