.contact-parent {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-parent h2 {
    color: #ccd6f6;
    font-size: 30px;
}
.contact-parent h2::before {
    content: "03.";
    color: #5ef0cf;
    margin-right: 8px;
    }

.contact-parent form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.contact-parent form input[type="text"],
.contact-parent form input[type="email"] {
    width: 70%;
    padding: 20px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.493);
    caret-color: white;
    border: none;
    color: white;
}

.contact-parent form input[type="text"]::placeholder,
.contact-parent form input[type="email"]::placeholder,
.contact-parent form textarea::placeholder {
    color: #ccd6f6;
}

.contact-parent form textarea{
    background-color: rgba(0, 0, 0, 0.493);
    caret-color: white;
    outline: none;
    width: 70% !important;
    padding: 20px;
    border: none;
    resize: none;
    color:white;
}
.contact-parent form input[type="submit"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.493);
    color: #ccd6f6;
    cursor: pointer;
}
.contact-parent .successfully-sent{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:white;
    padding: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
    display:none
}
.contact-parent .successfully-sent .correct{
    color:green;
    margin-left: 5px;
    font-size:18px;
}