.container{
    
}
img{
    width: 300px;
    height: 280px;
    margin: 30px;
}
.world-icon{
    color: white;
    font-size: 24px;
    margin-right: 7px;
    
}
.navbar{
    background-color: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.head-span{
    color: white;
    font-size: 16px;
}
.props{
    display: flex;
    justify-content: flex-start;
    
}
.props-icon{
    margin-top: 50px;
    color:#F55A5A;
}
.so{
    margin-left: 8px;
    
}
.Date{  
    font-weight: 600;
}
a{
    color: #777;
}
p{
    color: #777;
    letter-spacing: 2px;
    line-height: 2;
}