* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Start Navbar */
.navbar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  color: #546ece;
  /* background-color: #eee; */
}
.navbar-list-icon{
  font-size: 23px;
}
.navbar-search-icon{
  font-size: 21px;
}
.navbar-heading{
  letter-spacing: 1px;
}
.navLink{
  text-decoration: none;
}
.navLink:visited{
  color: #546ece
}
/* End Navbar */
/* Start ImgContent */
.images-parent{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4px;
  height: 470px;
}
.ImageContent-container img{
  width: 100%;
  height: 100%;
}
.img-1{
  grid-area: 1 / 1 / 2 / 2;
}
.img-2{
  grid-area: 1 / 2 / 3 / 3;
  width: 100%;
  height: 100%;
}
.img-3{
  grid-area: 1 / 3 / 2 / 4;
}
.img-4{
  grid-area: 2 / 1 / 3 / 2;
}
.img-5{
  grid-area: 2 / 3 / 2 / 4;
}
.show-categories{
  color: #546ece;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.arrow-icon{
  animation-name: move-right;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  color: #314281;
}

@keyframes move-right {
  0%{
    transform: translateX(5px);
  }
  50%{
    transform: translateX(20px);
  }
  100%{
    transform: translateX(5px);
  }
}
/* End ImgContent */

/* Start TopProducts */
.topProducts-info{
  transition: 1s;
  color: #546ece;
  width: 100%;
  height: 100%;

}
.topProducts-info:link{
  text-decoration: none;

}
.topProducts-info:hover{
  transform:scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
  .topProducts-container{
    padding-bottom: 10px;
    margin:35px 20px 65px 20px;
  }
  .topProducts-heading{
    padding: 10px;
    color: #546ece;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }
  .topProducts-info-parent{
    display: flex;
    justify-content: center;
    
    color: #546ece;
    gap: 10px;
    margin: 20px 60px;
  }
  .topProducts-info-parent img{
    width: 80px;
    text-align: center;
  }
  .topProducts-info div{
    padding: 5px;
    margin: 2px;
    font-weight: bold;
    font-size: 13px;
  }
  .topProductsImg-container{
    display: flex;
    justify-content: center;
    
  }
  .topProducts-name{
   margin: 1px 8px; 
   width: 100%;
   font-size: 12px; 
   min-height: 30px;
   line-height: 16px;
  }
  /* End TopProducts */
  /* Start Footer  */
.footer-container{
  background-color: darkslateblue;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}
.footer-heading{
  color: white;
  text-align: center;
}
/* End Footer  */
/* Start List */
  .list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
  }
  .list-container h2{
    color: #546ece;
    font-weight: 600;
    margin: 20px;
    }
  .list-top-arrow{
    margin: 20px;
    animation-name: moveArrowToTop;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: #546ece;
    font-weight: bold;
  }
  @keyframes moveArrowToTop {
    0%{
      transform: translateY(5px);
    }
    50%{
      transform: translateY(15px);
    }
    100%{
      transform: translateY(5px);
    }
    
  }
/* End List */

/* Start Categories*/
  .categories-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 50px auto;
    
  }
  .product-img-container{
    height: 25vh;
  }
  .categories-parent img{
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #546ece;
    flex-basis: 23%;
    transition: .5s;
    margin: 7px;
  }
  .card:hover{

    transform:scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  

/* End Categories*/
/* Start categoriesProducts */
.products-container{

  display: grid;
  grid-template-columns: repeat(4, minmax(100px ,1fr));
  gap: 10px;
  /* padding: 10px; */
  margin: 70px; 
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 110px;
  width: 110px;
  margin: auto;
}
.img-container img{
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
.product{
  margin: 1px 6px;
  min-height: 40px;
  line-height: 16px;
  font-size: 14px;
  color: #546ece;
  
  /* margin: 6px;
  padding: 3px;
  font-weight: 500;
  font-size: 15px; */
}
.products-parent{
  width: 100%;
  height: 100%;
}
.products-card{
  transition: 1s;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.products-card:hover{
  
  transform:scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.filter-button-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.filter-button{
  background-color: #314281;
  color: white;
  padding: 6px 20px;
  
}
/* End categoriesProducts */
/* Start Specific */

.main-content-parent{
  text-align: center;
  color: #546ece;
  margin: 20px;
  padding: 10px;
}
.main-content-parent img{
  margin-top: 50px;
  width: 140px;
}
.specific-product{
  color: #546ece;
}
.item{
  margin: 20px 20px;
  font-weight: 500;
}
.product-brand,
.product-price,
.product-category{
  font-weight: 600;
}
.product-color-parent{
  display: flex;
}
.product-color{
  margin-left: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.product-description{
  font-size: 15px;
  margin-bottom: 80px;
}
/* End Specific */
/* Start CategoryProducts */
  .select-parent{
    display: flex;
    justify-content: center;
    margin: 55px;
    
    /* margin: 10px x; */
  }
  .select-category-parent,
  .select-brand-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .select-category,
  .select-brand{
    margin-left: 2px;;
    padding: 7px;
    color: #546ece;
    width: 80%;
    list-style: none;
    outline: none;
  }
  .select-brand-label,
  .select-category-label{
    color: #546ece;
    margin: 4px;
  }
  .product-page-name{
    text-align: center;
    margin: 50px 10px 60px 10px; 
    color: #546ece;
  }
  .loading{
    color: #546ece;
    text-align: center;
  }

/* End CategoryProducts */
/* Start Media */
@media only screen and (max-width: 768px){
  .topProducts-name{
    min-height: 50px;
    font-size: 11px;
  }
  .images-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4px;
    height: 100%;
    width: 100%;
  }
  .product{
  margin: 1px 6px;
  min-height: 30px;
  line-height: 16px;
  font-size: 14px;
  color: #546ece;
  }
  .topProducts-info-parent{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    

  }
  .show-categories{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .categories-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    max-width: 900px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 80px;
  }
  .products-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(auto ,1fr));
    gap: 10px;
    /* padding: 10px; */
    margin: 20px;
  }
  .select-parent{
    
    margin: 30px;
  }
  .select-brand-parent,
  .select-category-parent{
    /* width: %; */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .card{
    height: 100%;
    width: 100%
  }
  .product{
    font-size: 12px;
  }

}
@media only screen and (max-width: 500px){
  .products-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto ,1fr));
    gap: 10px;
    /* padding: 10px; */
    margin: 20px;
  }
  .topProducts-info-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .categories-parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 80px;
  }
  .select-category,
  .select-brand{
    margin-left: 2px;;
    padding: 7px;
    color: #546ece;
    width: 80%;
    list-style: none;
    outline: none;
  }
  .filter-button{
    padding: 5px;
  }
  .select-parent{
    width: 98%;
    margin: auto;
  }
  .select-brand-label,
  .select-category-label{
    font-size: 11px;
  }
}
@media only screen and (max-width: 290px){
  .select-parent{
    width: 100%;
  }
  .select-brand-label,
  .select-category-label{
    font-size: 8px;
  }
  .products-container{
    display: grid;
    grid-template-columns: repeat(1, minmax(auto ,1fr));
    gap: 10px;
    /* padding: 10px; */
    margin: 70px;
  }
  .topProducts-info-parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .categories-parent{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 900px;
    margin: auto;
    margin-top: 48px;
    margin-bottom: 80px;
  }
  .topProducts-name{
    min-height: 40px;
    font-size: 11px;
  }
  
  
}
/* End Media */


